---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Sebasti치n Azc치rate | About">
  <main>
    <h1>Hi there</h1>
    <p>My name is Sebasti치n Azc치rate and I live in Argentina.</p>
    <p>This web site was built with Astro. Maths are rendered with Katex.</p>
  </main>
</Layout>

<style>
  main {
    padding: 1.5rem;
    max-width: 100ch;
  }
</style>
