---
import Layout from "../../layouts/Layout.astro";
import Latex from "../../components/Latex.astro";

// const html2 = katex.renderToString("\\sum_i x^e");
---

<Layout title="Sebasti치n Azc치rate | About">
  <main>
    <h1>Dear Reader,</h1>
    <p>
      My name is Sebasti치n Azc치rate and I come from Argentina. My intention with
      this site is to post things I find interesting and occasionally personal
      works as well.
      <!-- This actually causes
      me a financial problem when going to libraries, and I buy more books that
      I can really read! -->
    </p>
    <p>
      This website was built with <a href="https://astro.build/" target="_blank"
        >Astro</a
      >.
    </p>

    <!-- <div class="image-container">
      <img src="20230128_232651.jpg" alt="Abasto" />
    </div> -->
  </main>
</Layout>

<style>
  main {
    padding: 1.5rem;
    max-width: 100ch;
  }

  .image-container {
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
</style>
