---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Sebasti치n Azc치rate | About">
  <main>
    <h1>Hi there</h1>
    <p>My name is Sebasti치n Azc치rate and I live in Argentina.</p>
    <p>
      I am mainly interested in science and technology, but I do also like arts
      and other social topics.
    </p>
    <p>This web site was built with Astro. Maths are rendered with Katex.</p>

    <div class="img-container">
      <img
        src="https://avatars.mds.yandex.net/get-pdb/251121/c91bb445-29a5-4408-addb-9164a4e51d8d/orig"
        alt="Doge"
      />
    </div>
  </main>
</Layout>

<style>
  main {
    padding: 1.5rem;
    max-width: 100ch;
  }
  .img-container {
    text-align: center;
  }
</style>
