---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Sebastián Azcárate | Thoinot Arbeau - Belle qui tiens ma vie">
  <main>
    <h1>Thoinot Arbeau - Belle qui tiens ma vie</h1>

    <p>
      Marvelous piece of music. This is a pavane by Thoinot Arbeau (1520-1595).
      The interpretation below, which I really like, is performed by "L'una e
      cinque", from its album "The Renaissance Project" (2010). Translation
      provided by ChatGPT. Isn't is cute?
      <!-- , a french cleric and dance instructor, in the
      late 16th century. The lyrics celebrate courtly love between a man and his
      beloved. The melody is hauntingly beautiful and is characterized by its
      slow tempo, graceful rhythm, and intricate harmonies. -->

      <br /><br />
    </p>

    <div class="iframe-container">
      <iframe
        width="860"
        height="515"
        src="https://www.youtube.com/embed/EQRu3Unagf8"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>

    <div class="song-lyrics">
      <div class="column">
        <h2>French</h2>
        <p>
          Belle qui tiens ma vie, captive dans tes yeux,<br />
          Qui m'a l'âme ravie, d'un souriz gracieux,<br />
          Viens tôt me secourir, ou me faudra mourir.
          <br /><br />
          <!-- Pourquoi fuis-tu, mignarde, si je suis près de toy?<br />
          Quand tes yeux je regarde, je me perds dedans moy,<br />
          Car tes perfections changent mes actions.
          <br /><br /> -->
          Approche donc ma belle, approche toy mon bien.<br />
          Ne me sois plus rebelle, puisque mon coeur est tien,<br />
          Pour mon mal appaiser, donne moy un baiser.
          <br /><br />
          <!-- Je meurs, mon Angelette, je meurs en te baisant,<br />
          Ta bouche tant doucette, va mon bien ravissant<br />
          A ce coup mes esprits sont tout d'amour épris.
          <br /><br /> -->

          Mon âme soulait être, libre de passions,<br />
          Mais Amour s'est fait maître, de mes affections,<br />
          Et a mis sous sa loi, et mon cœur et ma foi.
          <br /><br />
          Plutôt on verra l'onde contre mont reculer,<br />
          Et plutôt l'œil du monde cessera de brûler,<br />
          Que l'amour qui m'époint décroisse d'un seul point.
        </p>
      </div>
      <div class="column">
        <h2>English</h2>
        <p>
          Beauty you who hold my life, captive in your eyes,<br />
          Who make my soul glad, with a gracious smile,<br />
          Come soon rescue me, or I shall die.
          <br /><br />
          <!-- Why are you fleeing, sweetheart, when I am close to you,<br />
          When your eyes I look, I get lost in myself,<br />
          For you perfections change my behaviour.
          <br /><br /> -->
          Come my beauty, come my wellbeing,<br />
          Don't reject me, for my heart is yours,<br />
          To appease my pain, give me a kiss.
          <br /><br />
          <!-- I am dying my little angel, I am dying while kissing you,<br />
          Your mouth so soft makes me feel better<br />
          Then my soul is fulfilled with love.
          <br /><br /> -->

          My soul longed to be free from passions,<br />
          But Love became the master of my affections,<br />
          And has placed under its law, both my heart and my faith.
          <br /><br />
          Sooner the waves against mountains shall recede,<br />
          And sooner the world's eye shall cease to burn,<br />
          Before the love exciting me shall decrease by a single point.
        </p>
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    padding: 1.5rem;
    max-width: 100ch;
  }

  .iframe-container {
    text-align: center;
  }

  .song-lyrics {
    display: flex;
  }

  .column {
    flex: 1;
    margin: 20px;
    font-size: 18px;
  }

  /* h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
  } */
</style>
