---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Sebastián Azcárate">
  <main>
    <h1>Abasto - Buenos Aires</h1>
    <p>This is bsas</p>

    <div class="iframe-container">
      <div>hi</div>
    </div>

    <div class="card">
      <img src="/20220413_164200.jpg" alt="Example Image" />
      <div class="card-content">
        <h2>Card Title</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean auctor
          ex sed ante venenatis, vel viverra purus rutrum.
        </p>
        <button>Read More</button>
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    padding: 1.5rem;
    max-width: 100ch;
  }

  .iframe-container {
    text-align: center;
  }

  .card {
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    margin: 20px;
    max-width: 400px;
  }

  .card img {
    display: block;
    width: 100%;
    height: auto;
  }

  .card-content {
    padding: 20px;
  }

  .card-content h2 {
    margin-top: 0;
  }

  .card-content p {
    margin-bottom: 20px;
  }

  .card-content button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
</style>
