---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Sebastián Azcárate | Inside buildings in Berlin">
  <main>
    <h1>Inside buildings in Berlin</h1>

    <p>
      I lived in Berlin from November 2023 to March 2024. There, I worked as a
      delivery rider and it was quite an experience. The area covered by my
      location was around the neighbourhoods of Friedrichshain, Kreuzberg and
      Neukölln. I was amused by the architecture of buildings, and soon I
      decided to take some pictures while delivering groceries. I took pictures
      mostly from the inside, since there would probably not be many chances of
      doing so any other time, and it surely made the job more entertaining.
    </p>

    <p>
      Let me recap a little bit about how delivery works in Germany, and what
      service the company I worked for provides. In Germany the delivery rider
      takes the delivery order to the house or building, in this case generally
      a building, and once there they ring the bell so to let the customer know
      that they arrived. The customer does not come to the door to pick up their
      order, instead they let the rider in via the intercom. The rider walks
      within the building to the apartment, knocks at the door, delivers and
      then leaves.
    </p>
    <p>
      Now, the company I worked for has a phone app in which customers can ask
      for food products that you would typically find in supermarkets. So each
      ride is done carrying several heavy bags, with products for up to three
      customers.
    </p>
    <p>
      The pictures below were taken from several rides I took during my working
      hours.
    </p>

    <h2>Picture #1</h2>
    <p>
      Something to note, many buildings do not have a lift. It makes it harder
      to bring the bags up, sometimes up to five levels!
    </p>
    <p>
      <div style="text-align: center;">
        <img src="https://i.imgur.com/dm9Xx5q.jpg" width="50%" height="50%" />
      </div>
    </p>
    <h2>Picture #2</h2>
    <div style="text-align: center;">
      <img src="https://i.imgur.com/RZOHkYd.jpg" width="50%" height="50%" />
    </div>

    <h2>Picture #3</h2>
    <div style="text-align: center;">
      <img src="https://i.imgur.com/n37lsBO.jpg" width="50%" height="50%" />
    </div>

    <h2>Picture #4</h2>
    <p>
      Here are some commemorative plaques next to an entrance, for the victims
      of the Jewish Holocaust during WWII. They provide information about who
      lived there, when they were deported and when they were murdered.
    </p>
    <div style="text-align: center;">
      <img src="https://i.imgur.com/qsT8VV6.jpg" width="50%" height="50%" />
    </div>

    <h2>Picture #5</h2>
    <p>Big building with too many postal boxes.</p>
    <div style="text-align: center;">
      <img src="https://i.imgur.com/Z7eWWh1.jpg" width="50%" height="50%" />
    </div>

    <h2>Picture #6</h2>
    <div style="text-align: center;">
      <img src="https://i.imgur.com/41QkNcr.jpg" width="50%" height="50%" />
    </div>

    <h2>Picture #7</h2>
    <div style="text-align: center;">
      <img src="https://i.imgur.com/SQGddR6.jpg" width="50%" height="50%" />
    </div>

    <h2>Picture #8</h2>
    <p>
      I have seen several kinds of bikes, among which is this curious one.
      Germans use bicycles a lot. If you cross a bike lane without looking,
      you'll probably get a warning with the horn.
    </p>
    <div style="text-align: center;">
      <img src="https://i.imgur.com/cZIuhbA.jpg" width="50%" height="50%" />
    </div>

    <h2>Picture #9</h2>
    <div style="text-align: center;">
      <img src="https://i.imgur.com/DJ7Axic.jpg" width="50%" height="50%" />
    </div>

    <h2>Picture #10</h2>
    <div style="text-align: center;">
      <img src="https://i.imgur.com/YAfXD6y.jpg" width="50%" height="50%" />
    </div>

    <h2>Picture #11</h2>
    <div style="text-align: center;">
      <img src="https://i.imgur.com/PHx7icn.jpg" width="50%" height="50%" />
    </div>

    <h2>Picture #12</h2>
    <div style="text-align: center;">
      <img src="https://i.imgur.com/dICGfmw.jpg" width="50%" height="50%" />
    </div>

    <h2>Picture #13</h2>
    <p>
      This is the creepiest building I delivered to, and I actually got lost
      walking through its passages. The entrance led to these passages, going
      down from the ground level. Pictures #14 and #15 are from this building as
      well.
    </p>
    <div style="text-align: center;">
      <img src="https://i.imgur.com/euURiU7.jpg" width="50%" height="50%" />
    </div>

    <h2>Picture #14</h2>
    <div style="text-align: center;">
      <img src="https://i.imgur.com/F3ZNL28.jpg" width="50%" height="50%" />
    </div>

    <h2>Picture #15</h2>
    <p>
      This place was near Treptower Park (which houses the Soviet War Memorial).
      When riding through this park at night, I would have the front bike ligths
      on, and even so I could only see what was in front of me (no park
      lightning). Several times I was surprised by people who suddenly appeared
      briefly in sight, just walking in the darkness.
    </p>
    <div style="text-align: center;">
      <img src="https://i.imgur.com/2hY2ToR.jpg" width="50%" height="50%" />
    </div>

    <h2>#15 bis</h2>
    <p>
      This is what it was riding in Görlitzer Park (nicknamed "Görli") at night.
    </p>
    <div style="text-align: center;">
      <video width="50%" height="50%" controls>
        <source src="https://i.imgur.com/N7WNbsd.mp4" type="video/mp4" />
      </video>
    </div>

    <h2>Picture #16</h2>
    <p>
      I could not take this lift, since you have to put the key in order to use
      it! 😑
    </p>
    <div style="text-align: center;">
      <img src="https://i.imgur.com/oC7PZXX.jpg" width="50%" height="50%" />
    </div>

    <h2>Picture #17</h2>
    <p>
      This is a curious lift which stops between floors. EG stands for
      "Erdgeschoss", which is ground floor.
    </p>
    <div style="text-align: center;">
      <img src="https://i.imgur.com/1J98IkZ.jpg" width="50%" height="50%" />
    </div>

    <h2>Picture #18</h2>
    <div style="text-align: center;">
      <img src="https://i.imgur.com/S7RJpoL.jpg" width="50%" height="50%" />
    </div>

    <h2>Picture #19</h2>
    <div style="text-align: center;">
      <img src="https://i.imgur.com/iaOpN7k.jpg" width="50%" height="50%" />
    </div>

    <h2>Picture #20</h2>
    <p>New Year's Eve decorations!</p>
    <div style="text-align: center;">
      <img src="https://i.imgur.com/zCJcss4.jpg" width="50%" height="50%" />
    </div>

    <h2>Picture #21</h2>
    <div style="text-align: center;">
      <img src="https://i.imgur.com/8MZoJs8.jpg" width="50%" height="50%" />
    </div>

    <h2>Picture #22</h2>
    <div style="text-align: center;">
      <img src="https://i.imgur.com/h4oDA8S.jpg" width="50%" height="50%" />
    </div>

    <h2>Picture #23</h2>
    <p>
      This is not the interior of a building, but it relates to a funny story.
      When I first rode through this street, cars were able to drive on it. At
      some time, they put these barriers in the street, and cars could no longer
      pass through. It seems though that someone wasn't aware of them!
    </p>
    <div style="text-align: center;">
      <img src="https://i.imgur.com/xjJDGCw.jpg" width="50%" height="50%" />
    </div>

    <h2>Picture #24</h2>
    <p>More post boxes.</p>
    <div style="text-align: center;">
      <img src="https://i.imgur.com/VpSoDVQ.jpg" width="50%" height="50%" />
    </div>

    <h2>Picture #25</h2>
    <p>Many people let their shoes outside the apartment.</p>
    <div style="text-align: center;">
      <img src="https://i.imgur.com/Z8B923S.jpg" width="50%" height="50%" />
    </div>

    <h2>Picture #26</h2>
    <div style="text-align: center;">
      <img src="https://i.imgur.com/5rmPRxg.jpg" width="50%" height="50%" />
    </div>

    <h2>Picture #27</h2>
    <p>Germans love bikes.</p>
    <div style="text-align: center;">
      <img src="https://i.imgur.com/Rh4lFoq.jpg" width="50%" height="50%" />
    </div>

    <h2>Picture #28</h2>
    <p>
      I saw many references to Palestine in the streets. This is one of them
      within a lift.
    </p>
    <div style="text-align: center;">
      <img src="https://i.imgur.com/ZmKvRrh.jpg" width="50%" height="50%" />
    </div>

    <h2>Picture #29</h2>
    <div style="text-align: center;">
      <img src="https://i.imgur.com/W3Xr6eu.jpg" width="50%" height="50%" />
    </div>

    <h2>Picture #30</h2>
    <p>
      Finally, here's a picture of a bike I used to deliver groceries in a snowy
      day ❄️.
    </p>
    <div style="text-align: center;">
      <img src="https://i.imgur.com/7MjJYoa.jpg" width="50%" height="50%" />
    </div>

    <h2>Yapa</h2>
    <p>
      As a yapa, see a beautiful rainbow in Berlin, the first day I visited it.
      The scenery includes the Spree river, the Bode-Museum, the Monbijoubrücke
      and the Fernsehturm 😊.
    </p>
    <div style="text-align: center;">
      <video width="90%" height="90%" controls>
        <source src="https://i.imgur.com/fLm6BgT.mp4" type="video/mp4" />
      </video>
    </div>

    <br /><br /><br />

    <div style="text-align: center;">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6nHyCQ6zT00pdT-80DARsnsB9HDo3siysHQ&s"
        width="5%"
        height="5%"
      />
    </div>
  </main>
</Layout>

<style>
  main {
    padding: 1.5rem;
    max-width: 100ch;
  }

  .iframe-container {
    text-align: center;
  }

  .song-lyrics {
    display: flex;
  }

  .column {
    flex: 1;
    margin: 20px;
    font-size: 18px;
  }

  /* h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
  } */
</style>
