---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Sebastián Azcárate">
  <main>
    <h1>History of Calculus</h1>
    <h2>General</h2>
    <p>
      Calculus is a branch of mathematics that deals with the study of rates of
      change. It is divided into two main branches: differential calculus and
      integral calculus.
      <ul>
        <li>
          Differential calculus: It deals with the study of the derivative and
          the differential of functions.
        </li>
        <li>
          Integral calculus: It deals with the study of the relation between the
          antiderivative and the integral of functions.
        </li>
      </ul>
    </p>
    <p>
      Calculus was first developed over the concept of infinitesimals, but their
      lack of rigour led to the development of other concepts such as limits and
      continuity. Based on these concepts, calculus became to be part of a
      broader branch of mathematics called analysis, which extends the results
      of calculus to objects other than numbers.
    </p>
    <!-- <p>
      Calculus was developed to a great extent in the 17th century with the
      works of Isaac Newton and Gottfried Wilhelm Leibniz, but many
      contributions were made by many others before. We shall list them below.
    </p>
    <p>
      While the theory of Calculus in its early years as such was proved to be
      very helpful in explaining mechanical models, it lacked of the rigour that
      goemetry had, and many were reluctant about its results, basically bacause
      of the differentials. They were entities that made up the early calculus
      and came up to be described as the <i>ghosts of departed quantities</i>,
      by George Berkeley.
    </p>
    <p>
      Then other concepts were developed, which were those of limits, continuity
      and definite integrals. By the way, many other concepts were also refined
      from those years ahead, like the concept of funcion and even that of
      number. Limits and continuity are the main concepts used to build up the
      broader branch of Analysis, which extends the results of Calculus to
      objects other than numbers.
    </p> -->

    <h2>Problems</h2>
    <p>
      There are some typical problems that led to the development of calculus.
      <ul>
        <li>
          Finding the instantaneous velocity of a particle moving along a know
          path.
        </li>
        <li>Finding the tangent line to a curve at a given point.</li>
        <li>Finding maxima and minima of a quantity.</li>
        <li>Finding a line with the same lenght of a given curve.</li>
        <li>
          Finding the measure (area or volume) of a figure (in plane or space).
        </li>
      </ul>
    </p>

    <h2>Timeline</h2>
    <p>Nicolás de Oresme (1323 - 1382)</p><p>Rene Descartes (1596 - 1650)</p><p>
      Bonaventura Cavalieri (1598 - 1647) Planteó que las figuras están formadas
      por elementos básicos, que denominó indivisibles. Una línea está compuesta
      de puntos, un plano está hecho de líneas, y un sólido está hecho de
      superficies. A partir de esta teoría, consiguió calcular la cuadratura (el
      área) de las curvas del tipo x^n, con n = 1, …, 6, 9. En notación moderna,
      halló
    </p><p>
      Enunció el principio que lleva su nombre (Principio de Cavalieri), por el
      cual (enunciación moderna) “Si dos figuras planas (o sólidas) tienen igual
      altura, y las secciones hechas por rectas paralelas a la base (o planos
      paralelos a la base) y a igual distancia de ellas, están siempre en una
      misma razón, entonces el área (o volumen) de las figuras están en esa
      misma razón”. Su método recibió críticas por carecer de rigor lógico, sin
      embargo fue utilizado por otras personas, sustituyendo las líneas por
      rectángulos, triángulos, paralelepípedos o cilindros.
    </p><p>
      Gilles de Roberval (1602 - 1675) Sustituyó las líneas de Cavalieri por
      rectángulos infinitesimales. Su método consistió en plantear la
      aproximación de un área por medio del área de una cantidad finita de
      rectángulos. Tras obtener con ello una fórmula, considera la infinitud de
      estos rectángulos y concluye con el cálculo del área.
    </p><p>
      Pierre de Fermat (1607 - 1665) Utilizó el mismo método para calcular
      tangentes y valores extremos (máximos y mínimos).
    </p><p>
      Evangelista Torricelli (1608 - 1647) Comprobó para ciertos casos
      particulares, que el cálculo del cambio relativo era inverso al cálculo de
      las cuadraturas.
    </p><p>
      John Wallis (1616 - 1703) Inspirado en el trabajo de Cavalieri y
      Torricelli, extiende los resultados de Cavalieri utilizando exponentes
      negativos y racionales. Su método le falló al intentar calcular la
      cuadratura del círculo, es decir Newton conseguiría resolver el problema
      utilizando su teorema del binomio.
    </p><p>
      Nikolaus Mercator (1620 - 1687) Calculó el área limitada por la hipérbola
      utilizando el método de Wallis. Para ello convirtió la fórmula en una
      serie efectuando la división Luego integra término a término, sabiendo la
      fórmula para cuadrar (o integrar) la expresión x^n, $n \geq 0$. De forma
      que obtiene la serie
    </p><p>Isaac Barrow (1630 - 1677). Lectiones Geometricae (1670)</p><p>
      James Gregory (1638 - 1675)
    </p><p>
      Isaac Newton (1643 - 1717) Trabajó las derivadas e integrales en términos
      de cambio relativo entre las variables. Los términos fundamentales son el
      de fluyentes y fluxiones. Define a los primeros como cantidades variables,
      y a los segundos como el cambio relativo de los fluyentes. En términos
      actuales serían las funciones y sus derivadas. Newton piensa en las
      líneas, planos y sólidos como el movimiento de puntos, líneas y planos
      moviéndose. Define el momento de un fluyente como un cambio muy pequeño de
      la variable, que en los cálculos puede considerarse despreciable.
    </p><p>
      Gottfried Wilhelm Leibniz (1646 - 1716) Trabajó las derivadas e integrales
      en términos de sumas y diferencias. El mismo se basa en sumas y
      diferencias de sucesiones.
    </p><p>
      Jacob Bernoulli (1654 - 1705) Junto a su hermano Johann organizaron el
      cálculo de Leibniz y le dieron una estructura más sólida, con varios
      ejemplos y desarrollos nuevos. Fue el primero en utilizar el término
      “integral” para el área calculada.
    </p><p>
      Johann Bernoulli (1667 - 1748) Fue profesor de Euler. Le explicó el
      cálculo al marqués de l’hospital.
    </p><p>Guillaume François Antoine (L’Hospital) (1661 - 1704)</p><p>
      George Berkeley (1685 - 1753) He wrote in 1734 called The Analyst, where
      he criticizes the calculus developed by Newton for its lack of rigor. He
      saw the work of Newton as a threat to religious thinking.
    </p><p>
      Leonhard Euler (1707 - 1783) Definió usando integrales las funciones beta
      y gamma.
    </p><p>
      Jean le Rond D'Alembert (1717 - 1783) Rechazó la idea de los
      infinitesimales de Leibniz. Propuso basar el cálculo sobre el concepto de
      límite, que define de la siguiente manera “se dice que una magnitud es el
      límite de otra magnitud, cuando la segunda puede aproximarse a la primera,
      sin llegar nunca a excederla, en menos que cualquier cantidad dada tan
      pequeña como se quiera suponer.” Su idea era esencialmente geométrica. Le
      resultaba más convincente la propuesta de Newton.
    </p><p>
      Joseph-Louis Lagrange (1736 - 1813) Rechazó la idea de basar el cálculo en
      los infinitesimales y en los límites. Propuso basar el cálculo en los
      desarrollos en serie de Taylor, considerados en su tiempo como una
      generalización del álgebra de polinomios.
    </p><p>Augustin-Louis Cauchy (1789 - 1857)</p><p>
      Simon L'Huillier (1750 - 1840) Propone su definición de límite. Distingue
      entre límite por exceso y por defecto, de forma que identifica al límite
      por izquierda y el límite por derecha. También utiliza la abreviación
      “lim.” para referirse al límite en una fórmula. Su principal logro es
      extender el uso de los límites. Realiza un desarrollo sistemático de los
      mismos, probando diferentes reglas para manejarlos.
    </p><p>
      Carl Gustav Jacob Jacobi (1804 - 1851) Introduce y populariza la notación
      curly d para la integral parcial.
    </p><p>
      William Rowan Hamilton (1805 - 1865) Introduces the differential operator
      del or nabla.
    </p>
  </main>
</Layout>

<style>
  main {
    padding: 1.5rem;
    max-width: 100ch;
  }
</style>
