---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Sebastián Azcárate | Posts">
  <main>
    <h2>Posts</h2>

    <ul class="posts-list">
      <li>
        <a href="/posts/buildings-in-berlin"
          >Inside buildings in Berlin<span class="span-li">Technology</span></a
        >
      </li>
      <!-- <li>
        <a href="/posts/mercados-financieros-en-argentina"
          >Los mercados financieros en Argentina<span class="span-li"
            >Technology</span
          ></a
        >
      </li> -->
      <li>
        <a href="/posts/belle-qui-tiens-ma-vie"
          >Belle qui tiens ma vie - Thoinot Arbeau<span class="span-li"
            >Music</span
          >
        </a>
      </li>
    </ul>
  </main>
</Layout>

<style>
  main {
    padding: 1.5rem;
    max-width: 100ch;
  }
  .posts-list li {
    border-radius: 5px;
    margin: 5px;
    color: #ff7a18;
    /* background-color: #f2f2f2; */
  }
  .posts-list a {
    display: block;
    padding-left: 0.5rem;
    border-radius: 25px;
  }
  .posts-list a:link {
    text-decoration: none;
    color: black;
  }

  .posts-list a:visited {
    text-decoration: none;
    color: #993333;
  }

  .posts-list a:hover {
    text-decoration: none;
    background-color: #f2f2f2;
  }

  .posts-list a:active {
    text-decoration: none;
    background-color: #f2f2f289;
    /* background-color: #9999ff; */
    /* color: yellow; */
  }
  .span-li {
    float: right;
    padding-right: 0.5rem;
    background-color: #604cc3;
    background-color: #cfc9ed;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
    visibility: hidden;
  }
</style>
