---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Sebastián Azcárate | Posts">
  <main>
    <h2>Posts</h2>

    <ul class="posts-list">
      <li>
        <a href="/posts/buenos-aires"
          >Buenos Aires<span class="span-li">History | Math</span></a
        >
      </li>
      <li>
        <a href="/posts/belle-qui-tiens-ma-vie"
          >Thoinot Arbeau - Belle qui tiens ma vie<span class="span-li"
            >History | Math</span
          ></a
        >
      </li>
      <li>
        <a href="/posts/history-of-calculus"
          >History of calculus <span class="span-li">17/03/2023</span></a
        >
      </li>
    </ul>
  </main>
</Layout>

<style>
  main {
    padding: 1.5rem;
    max-width: 100ch;
  }
  .posts-list li {
    border-radius: 5px;
    margin: 5px;
    color: #ff7a18;
    background-color: #f2f2f2;
  }
  .posts-list a {
    padding-left: 0.5rem;
    display: block;
  }
  .posts-list a:link {
    text-decoration: none;
    color: black;
  }

  .posts-list a:visited {
    text-decoration: none;
    color: #993333;
  }

  .posts-list a:hover {
    text-decoration: none;
    background-color: yellow;
  }

  .posts-list a:active {
    text-decoration: none;
    background-color: #9999ff;
    color: yellow;
  }
  .span-li {
    float: right;
    padding-right: 0.5rem;
  }
</style>
