---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Sebastián Azcárate | Mercados financieros en Argentina">
  <main>
    <h1>Los mercados financieros en Argentina</h1>

    <p>
      ¿Por qué existe la bolsa y por qué es importante para la economía de una
      sociedad?
    </p>
    <p>
      Cuando hablamos del sistema financiero, está bueno tener en cuenta que hay
      dos elementos en los cuales se basa: el dinero y los acuerdos entre partes
      para entregar y devolver dinero. La complejidad del sistema deriva más
      bien del segundo elemento, dado que los términos en lo que se pueden
      establecer acuerdos son diferentes y complejos. Pero existen tipos más o
      menos estandar de llevarlos a cabo, y en función de ellos puede hacerse un
      análisis más o menos convicente. Dejamos de lado consideraciones sobre
      cómo deberían ser las cosas para simplemente describirlas.
    </p>
    <p>
      Sobre el primero Como parte del sistema financiero, el mercado de
      capitales existe porque existe una necesidad de las personas y
      organizaciones de financiarse. Esto ocurre grosso modo cuando una persona
      tiene una idea para obtener beneficios realizando alguna actividad, pero
      no dispone de los recursos suficientes para poner en marcha tal actividad.
      Lo que puede decidir en tal situación (la deudora) es buscar otra persona
      que le entregue dinero (la acreedora), y acordar con ella devolverseló en
      el futuro más un monto extra. Si el emprendimiento es exitoso, el deudor
      devolverá lo acordado y tendrá su emprendimiento en marcha para generar
      beneficios futuros. El acreedor habrá obtenido un extra de dinero por
      haberlo prestado y no disponer del mismo por un cierto periodo de tiempo.
      Es un win-win para ambas partes, siempre y cuando el emprendimiento
      funcione y el acreedor no necesite el dinero durante el periodo de tiempo.
      Algo que estamos presuponiendo también, es que hay una persona en esa
      situación que dispone de dinero que no utiliza y está deseosa de
      entregarlo para recibir en el futuro una
    </p>
    <p>
      Tradicionalmente un mercado es un espacio físico en donde se encuentran
      oferentes y demandantes de bienes y servicios para realizar transacciones
      entre ellos. Podemos identificar tipos de mercados según los tipos de
      bienes y servicios que se comercien, de forma que podemos exponer una
      primera Hoy en día gran parte del comercio no precisa de un lugar físico,
      y de ello se deriva que en un sentido figurado se hable de un mercado como
      un conjunto de transacciones en relación a un cierto tipo de bienes y
      servicios. Por ejemplo podemos hablar del mercado de bonos cuando hacemos
      referencia a las transacciones que se hacen con los bonos, probablemente
      en una determinada bolsa. En particular, un mercado financiero consiste en
      un espacio en donde se encuentran oferentes y demandantes de activos
      financieros. Este tipo de mercados hoy en día no precisa de un lugar
      físico, y de ello se deriva que en un sentido figurado se considera un
      mercado como un conjunto de transacciones en relación a un cierto tipo de
      bienes y servicios.
    </p>
    <p>
      Un activo financiero es . Lo usual es distinguir en una primera instancia
      entre dos grandes tipos de activos financieros: el dinero y los valores
      negociables. De ellos la primera clasificación de los mercados financieros
      es:
    </p>
    <ul>
      <li>
        Mercado bancario: Espacio donde se operan monedas (dinero emitido en los
        distintos países).
      </li>
      <li>
        Mercado de capitales: Espacio donde se operan valores negociables.
      </li>
    </ul>
    <p>
      Ahora, los mercados alguien tiene que armarlos u organizarlos. Mientras
      más personas estén al tanto de un punto de concurrencia para encontrarse
      con otras personas con el interés de realizar transacciones, mejor. Por
      otro lado, dado que vivimos en sociedades que se rigen por leyes y esta
      actividad suscita intereses y puede causar conflictos, alguien los regula.
      En el caso de la Argentina, el mercado bancario es regulado por el Banco
      Central de la República Argentina (BCRA) y el mercado de capitales por la
      Comisión Nacional de Valores (CNV). Quienes arman un mercado bancario son
      los bancos comerciales (aquellos que no son el banco central), mientras
      que los mercados de capitales son armados por las bolsas de valores.
    </p>
  </main>
</Layout>

<style>
  main {
    padding: 1.5rem;
    max-width: 100ch;
  }

  .iframe-container {
    text-align: center;
  }

  .song-lyrics {
    display: flex;
  }

  .column {
    flex: 1;
    margin: 20px;
    font-size: 18px;
  }

  /* h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
  } */
</style>
