---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Sebastián Azcárate | Contact">
  <main>
    <h1>Contact Information</h1>
    <p>Find below my social media</p>
    <ul>
      <li>
        LinkedIn: <a
          href="https://www.linkedin.com/in/sebastian-azcarate/"
          target="_blank">sebastian-azcarate</a
        >
      </li>
      <li>
        GitHub: <a href="https://github.com/sebazc" target="_blank">sebazc</a>
      </li>
      <li>
        YouTube: <a
          href="https://www.youtube.com/channel/UCQ4G8SxmOh3SirQgg6E3WLQ"
          target="_blank">sebazc</a
        >
      </li>
      <li>
        Tweeter: <a href="https://twitter.com/seba_azc" target="_blank"
          >seba_azc</a
        >
      </li>
    </ul>
  </main>
</Layout>

<style>
  main {
    padding: 1.5rem;
    max-width: 100ch;
  }
</style>
