---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Sebastián Azcárate | Contact">
  <main>
    <h1>Contact Information</h1>

    <h2>Email</h2>
    <p>
      Write to me at: <i>seba.azc@gmail.com</i>
      <!-- Write to me at: seba.azc@gmail.com -->
    </p>

    <h2>Social media</h2>
    <p>Find me in:</p>
    <div class="social-media-icons">
      <!-- LinkedIn -->
      <a href="https://www.linkedin.com/in/sebastian-azcarate" target="_blank">
        <i class="fab fa-facebook"
          ><img
            src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Linkedin_unofficial_colored_svg-1024.png"
            alt="LinkedIn"
            width="50"
            height="50"
            class="social-icon"
          /></i
        >
      </a>
      <!-- GitHub -->
      <a href="https://github.com/sebazc" target="_blank">
        <i class="fab fa-twitter">
          <img
            src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-1024.png"
            alt="Github"
            width="50"
            height="50"
            class="social-icon"
          />
        </i>
      </a>
      <!-- YouTube -->
      <!-- <a href="https://www.youtube.com/@sebastian-azcarate" target="_blank">
        <i class="fab fa-instagram">
          <img
            src="https://cdn1.iconfinder.com/data/icons/logotypes/32/youtube-1024.png"
            alt="YouTube"
            width="50"
            height="50"
            class="social-icon"
          />
        </i>
      </a> -->
      <!-- X / Twitter -->
      <a href="https://twitter.com/seba_azc" target="_blank">
        <i class="fab fa-linkedin">
          <img
            src="https://seeklogo.com/images/T/twitter-x-logo-101C7D2420-seeklogo.com.png"
            alt="X / Twitter"
            width="50"
            height="50"
            class="social-icon"
          />
        </i>
      </a>
      <!-- GoodReads -->
      <a
        href="https://www.goodreads.com/user/show/41253060-sebazc"
        target="_blank"
      >
        <i class="fab fa-youtube"
          ><img
            src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/goodreads-1024.png"
            alt="GoodReads"
            width="50"
            height="50"
            class="social-icon"
          /></i
        >
      </a>
    </div>
  </main>

  <style>
    main {
      padding: 1.5rem;
      max-width: 100ch;
    }

    a {
      margin: 10px;
    }

    .social-media-icons {
      display: flex;
      justify-content: center;
    }

    .social-media-icons a {
      display: inline-block;
      margin: 10px;
      font-size: 24px;
      color: #333;
      text-decoration: none;
      transition: color 0.3s ease-in-out;
    }

    .social-media-icons a:hover {
      color: #007bff;
    }

    .social-media-icons a i {
      margin-right: 10px;
    }

    .social-icon {
      transition: all 0.2s ease-in-out;
    }
    .social-icon:hover {
      transform: scale(1.1);
    }
  </style>
</Layout>
