---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sebastián Azcárate">
  <main>
    <p>404: Not found. Go the main page.</p>
  </main>
</Layout>

<style>
  main {
    padding: 1.5rem;
    max-width: 100ch;
  }

  .iframe-container {
    text-align: center;
  }
</style>
