---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sebastián Azcárate">
  <main>
    <!-- <div class="image-container">
      <img src="20230128_232651.jpg" alt="Abasto" />
    </div> -->

    <iframe
      src="https://giphy.com/embed/yXBqba0Zx8S4"
      width="480"
      height="324"
      frameborder="0"
      class="giphy-embed img"
      allowfullscreen></iframe>

    <div class="text-container"><h2>Whoops! Where are you going?</h2></div>
  </main>
</Layout>

<style>
  main {
    padding: 1.5rem;
    max-width: 100ch;
  }

  .text-container {
    text-align: center;
    /* font-size: 30px; */
  }

  .img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
</style>
