---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sebasti치n Azc치rate">
  <main>
    <h1>Welcome to <span class="text-gradient">Sebasti치n Azc치rate</span></h1>
    <p>
      To get started, open the directory in your project.<br />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>

    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione
      veritatis saepe quasi tempore recusandae aut, animi eveniet tenetur,
      laborum fugiat consequuntur perferendis minima sint. Quas sequi dicta
      sapiente quod sunt culpa molestias aperiam facere fugit, eius in alias quo
      obcaecati dolorem. Eius nobis labore in enim. Nulla exercitationem nihil,
      harum optio laboriosam aspernatur velit eius, incidunt voluptatem error
      aut corporis, dignissimos tempore sit eum suscipit odit. Aut iure hic,
      quia vitae distinctio aspernatur ad voluptas blanditiis. Expedita quam
      deserunt molestiae fugit magnam corrupti earum, voluptates laudantium
      neque vero porro quia distinctio dolor molestias, ipsam provident, nisi
      repudiandae cupiditate eius omnis velit. Incidunt velit aspernatur
      voluptate nobis eligendi culpa doloremque perspiciatis omnis aliquid vero,
      quae molestiae blanditiis illum deserunt iusto ullam possimus ad facere
      eaque deleniti cum quis? Architecto fugit est distinctio dolores soluta
      unde sed, ducimus praesentium quasi? Dicta fugit amet provident eligendi
      accusantium repudiandae id, ipsum nesciunt iusto aspernatur earum
      laboriosam impedit numquam sint possimus! Architecto atque obcaecati neque
      deleniti necessitatibus, ea cum, similique, velit praesentium magnam
      consequatur. Esse voluptas id quia tempora fugit? Quam vel eligendi
      necessitatibus possimus culpa doloremque animi ducimus aliquid eius
      blanditiis! Aliquam ipsum voluptas velit tempora sint aliquid, perferendis
      nisi? Esse neque consequatur sunt, ad enim quod. Corrupti consequatur
      sequi voluptatum dolor itaque nihil perspiciatis, aut repellendus quos
      quia accusamus enim soluta quibusdam! Nihil, possimus eum. Blanditiis nam
      deserunt eum amet suscipit inventore reprehenderit, consequatur, est ad
      iste at voluptatibus recusandae error quo dolores ut esse architecto,
      accusantium perspiciatis reiciendis voluptas ullam officiis? Aperiam
      labore, facere similique ab architecto reprehenderit deserunt! Nam debitis
      sapiente quis soluta. Tempora voluptates, odit fugit fugiat ea nam error
      labore recusandae distinctio repellendus totam eum nobis, similique saepe
      quas iure quibusdam voluptatum inventore perspiciatis doloremque. Quaerat,
      fugiat suscipit! Maxime error reprehenderit nemo veniam excepturi a
      voluptatem corporis aliquam voluptatibus?
    </p>

    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione
      veritatis saepe quasi tempore recusandae aut, animi eveniet tenetur,
      laborum fugiat consequuntur perferendis minima sint. Quas sequi dicta
      sapiente quod sunt culpa molestias aperiam facere fugit, eius in alias quo
      obcaecati dolorem. Eius nobis labore in enim. Nulla exercitationem nihil,
      harum optio laboriosam aspernatur velit eius, incidunt voluptatem error
      aut corporis, dignissimos tempore sit eum suscipit odit. Aut iure hic,
      quia vitae distinctio aspernatur ad voluptas blanditiis. Expedita quam
      deserunt molestiae fugit magnam corrupti earum, voluptates laudantium
      neque vero porro quia distinctio dolor molestias, ipsam provident, nisi
      repudiandae cupiditate eius omnis velit. Incidunt velit aspernatur
      voluptate nobis eligendi culpa doloremque perspiciatis omnis aliquid vero,
      quae molestiae blanditiis illum deserunt iusto ullam possimus ad facere
      eaque deleniti cum quis? Architecto fugit est distinctio dolores soluta
      unde sed, ducimus praesentium quasi? Dicta fugit amet provident eligendi
      accusantium repudiandae id, ipsum nesciunt iusto aspernatur earum
      laboriosam impedit numquam sint possimus! Architecto atque obcaecati neque
      deleniti necessitatibus, ea cum, similique, velit praesentium magnam
      consequatur. Esse voluptas id quia tempora fugit? Quam vel eligendi
      necessitatibus possimus culpa doloremque animi ducimus aliquid eius
      blanditiis! Aliquam ipsum voluptas velit tempora sint aliquid, perferendis
      nisi? Esse neque consequatur sunt, ad enim quod. Corrupti consequatur
      sequi voluptatum dolor itaque nihil perspiciatis, aut repellendus quos
      quia accusamus enim soluta quibusdam! Nihil, possimus eum. Blanditiis nam
      deserunt eum amet suscipit inventore reprehenderit, consequatur, est ad
      iste at voluptatibus recusandae error quo dolores ut esse architecto,
      accusantium perspiciatis reiciendis voluptas ullam officiis? Aperiam
      labore, facere similique ab architecto reprehenderit deserunt! Nam debitis
      sapiente quis soluta. Tempora voluptates, odit fugit fugiat ea nam error
      labore recusandae distinctio repellendus totam eum nobis, similique saepe
      quas iure quibusdam voluptatum inventore perspiciatis doloremque. Quaerat,
      fugiat suscipit! Maxime error reprehenderit nemo veniam excepturi a
      voluptatem corporis aliquam voluptatibus?
    </p>
  </main>
</Layout>

<style></style>
