---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sebastián Azcárate">
  <img src="pantheon-293074_1280.jpg" alt="" width="100%" height={} />
  <!-- https://pixabay.com/photos/pantheon-rome-italy-architecture-293074/ -->
  <main>
    <h1>
      Hello reader<span style="font-size:50px;">&#128206;</span>
    </h1>
    <p>
      I will use this website to post things I find interesting. Some of the
      posts will be overviews on a subject, some will be about general culture,
      and other posts will be just my thoughts.
    </p>

    <h2>Latest posts</h2>
    <!-- <p>Find below my posts.</p> -->
    <ul class="posts-list">
      <li>
        <a href="/posts/history-of-calculus"
          >History of Calculus <span class="span-li">History | Math</span></a
        >
      </li>
      <li>
        <a href="/posts/wave-equation"
          >Wave equation <span class="span-li">History | Math | Physics</span
          ></a
        >
      </li>
      <li>
        <a href="/posts/heat-equation"
          >Heat equation <span class="span-li">History | Math | Physics</span
          ></a
        >
      </li>
      <li>
        <a href="/posts/fourier-transform"
          >Fourier transform
          <span class="span-li">History | Math | Physics</span></a
        >
      </li>
      <li>
        <a href="/posts/laplace-transform"
          >Laplace transform
          <span class="span-li">History | Math | Physics</span></a
        >
      </li>
    </ul>

    <h2>Tittle</h2>
    <p>These are some words.</p>

    <h2>Websites I like</h2>
    <p>It is good to have those websites.</p>
  </main>
</Layout>

<style>
  main {
    padding: 1.5rem;
    max-width: 100ch;
  }
  .posts-list li {
    border-radius: 5px;
    margin: 5px;
    color: #ff7a18;
    background-color: #f2f2f2;
  }
  .posts-list a {
    display: block;
    padding-left: 0.5rem;
  }
  .posts-list a:link {
    text-decoration: none;
    color: black;
  }

  .posts-list a:visited {
    text-decoration: none;
    color: #993333;
  }

  .posts-list a:hover {
    text-decoration: none;
    background-color: yellow;
  }

  .posts-list a:active {
    text-decoration: none;
    background-color: #9999ff;
    color: yellow;
  }
  .span-li {
    float: right;
    padding-right: 0.5rem;
  }
</style>
