---
export interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<li class="post-item">
  <a href={href}>
    <p>{title}</p>
    <p>{body}</p>
  </a>
</li>

<style>
  .post-item {
    background-color: grey;
    border-radius: 5px;
    text-decoration: none;
  }
  .post-item a {
    text-decoration: none;
  }
</style>
